* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(232, 103, 56);
    background: linear-gradient(0deg, rgba(232, 103, 56, 1) 0%, rgba(216, 91, 97, 1) 18%, rgba(160, 51, 237, 0.6699929971988796) 98%);
    height: 100vh;
    width: 100vw;
    text-align: center;
    color: #fff;
}

h1 {
    padding: 1rem 0;
}

form {
    background-color: #fff;
    color: #333;
    width: 400px;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

form div {
    margin: .5rem;
    font-weight: bold;
}

form div input[type="number"] {
    width: 50px;
    padding: .5rem;
    font-size: 14px;
}

form input[type="submit"] {
    width: 200px;
    padding: .5rem;
    font-size: 14px;
    font-weight: bold;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.quadro-resultado {
    background-color: #fff;
    color: #333;
    width: 400px;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 1rem;
    display: none;
}

.quadro-resultado .linha {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #ccc;
    border-bottom: none;
    padding: .5rem;
    width: 50%;
    margin: 0 auto;
}

/*adicionar borda apenas no último elemento */
.quadro-resultado .linha:last-child {
    border-bottom: 1px solid #ccc;
}